@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient-move 10s ease infinite; /* + lent pour un effet doux */
}

